.create table {
  width: 100%;
  max-width: 700px;
}

.col {
  text-align: center;
  font-size: 11.5px;
}

.row {
  text-align: center;
  margin: auto !important;
}  


.item-complex .item-content, .item{
    background-color: #E1E4ED !important;
}
.create input {
  border: 1px solid #ccc;
  color: #888;
  margin: 0.5em;
  vertical-align: middle;
  outline: 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  width: calc(100% - 3em - 2px);
  font-family: sans-serif;
}

.donut .c3-chart-arcs-title {
  font-size: 4em;
}

.donut svg {
  max-height: 155px;
}

d3-bars {
  width: 20px;
}

input[readonly] {
  cursor: not-allowed;
  background-color: #EEEEEE;
  color: #9E9999;
}
